sites:
  - { name: 'sir', docroot: '/var/www/SiR/web', server_name: '*.sir.dev' }

mysql:
  databases:
    - { name: 'sir' }

  users:
    - { name: 'sir', host: '%' }

  bind_address: 0.0.0.0

projects:
  - { name: 'SiR', repo: 'git@github.com:LinkValue/SiR.git' }
