user_name: vagrant
projects_dir: /var/www/
ssh_key: ~/.ssh/id_rsa

pools:
  - { name: 'www', user: 'vagrant', group: 'vagrant', listen: '127.0.0.1:9000' }

neo4j_package: neo4j
neo4j_package_version: 2.1.7

php_memory_limit: 2G
